body {
    margin: 0;
}

.screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.block {
    width: 10px;
    height: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
}