* {
    margin: 0;
    padding: 0;
}

body {
        /* display: flex; */
        justify-content: center;
        align-items: center;
        background: rgb(82,152,255);
        background: radial-gradient(circle, rgba(82,152,255,1) 0%, rgba(12,68,150,1) 100%);
}

#main {
    height: 80vh;
    width: 70vw;
    /* background-color: rgb(0, 255, 255); */
    
    margin: auto;
}

#main2 {
    height: 87%;
    width: 100%;
    /* background-color: rgb(240, 16, 16); */
    
}
#main3{
    /* width: 100%; */
    /* display: block; */
    /* background-color: rgb(35, 252, 7); */
}
#ekran {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#stopka-elementy{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 0.5%;
}
.img {
    filter: brightness(0%) blur(0px);
    animation: BlurOut 3s;
}

@keyframes BlurOut{
    from {
        filter: blur(100px) brightness(0%);
        transform: translateX(-2000px);
    }
    to {
        filter: blur(0) brightness(0%);
        transform: translateX(0px);
        
    }
}
.obrazek {
    width: 20px;
    height: 30px;
    margin: 10px;
    background-color: rgb(184, 28, 223);
}
.kwadrat {
    position: absolute;
    width: 100px;
    height: 100px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
}

#logo {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nadlogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#first {
    transform: translate(0, 0px) rotate(45deg);
    animation: rotacjaFirst 5s;
}

#second {
    transform: translate(0, 20px) rotate(-45deg);
    animation: rotacjaSecond 5s;
}

#third {
    transform: translate(0, 40px) rotate(45deg);
    animation: rotacjaThird 5s;
}

@keyframes rotacjaFirst{
    from {
        transform: rotate(45deg);
        border-radius: 35px;
        }
    to {
        transform: rotate(-45deg);
        border-radius: 0px;
    }
}

@keyframes rotacjaSecond{
    from {
        transform: translate(0, 20px) rotate(-45deg);
        border-radius: 35px;
        }
    to {
        transform: translate(0, 20px) rotate(45deg);
        border-radius: 0px;
    }
}

@keyframes rotacjaThird{
    from {
        transform: rotate(45deg);
        border-radius: 35px;
        }
    to {
        transform: translate(0, 40px) rotate(-45deg);
        border-radius: 0px;
    }
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: white;
}


#title2 {
    animation: DrugaLitera 5s;
}
#title3 {
    animation: TrzeciaLitera 5s;
}
#title4 {
    animation: CzwartaLitera 5s;
}
#title5 {
    animation: PiataLitera 5s;
}
#title6 {
    animation: SzostaLitera 5s;
}
@keyframes DrugaLitera{
    from{
        transform: translate(-35px, 0);
    }
    to{
        transform: translate(0px, 0);
    }

}
@keyframes TrzeciaLitera {
    from{
        transform: translate(-60px, 0);
    }
    to {
        transform: translate(0px, 0);
    }

}
@keyframes CzwartaLitera {
    from{
        transform: translate(-85px, 0);
    }
    to{
        transform: translate(0px, 0);
    }
}
@keyframes PiataLitera {
    from{
        transform: translate(-116px, 0);
    }
    to{
        transform: translate(0px, 0);
    }
}
@keyframes SzostaLitera {
    from{
        transform: translate(-154px, 0);
    }
    to{
        transform: translate(0px, 0);
    }
}

#animatedtext {
    display: flex;
    justify-content: center;
    align-items: center;
}

#animatedtext2 {
    font-size: 20px;
    animation: zanikanie 5s;
}

@keyframes zanikanie {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 100%;
        
    }
}

#maintitle {
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    text-align: center;
    padding: 8%
}
.wrapper {
    height: 100%;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 100%;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 55px;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #tekstpodtitle {
      font-size: 20px;
      font-family: 'Roboto', sans-serif;
      padding-top: 2%;
      animation: zanikanie 6s;
  }

  #button {
      align-items: center;
      text-align: center;
      padding: 1%;
      
  }
  #button-link {
    width: 30%;
    margin: auto;
    padding: 1%;
    background-color: white;
    display: block;
    transition: 0.3s;
  }

  #getstarted {
    width: 100%;
    height: 100%;
    text-decoration:none;
    font-family: 'Dongle', sans-serif;
    font-size: 35px;
    color: black;
    display: block;
    transition: 0.3s;
  }

  #button-link:hover #getstarted {
      background-color: rgb(0, 174, 255);
  }